{% extends 'navFooterBase.html' %}

{% block title %}Electric charge{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/articol.css') }}">

<header class="header1">
    <h1>{{ title }}</h1>
</header>

<section class="article-content">
    <div class="image-container">
        <img src="{{ image_url }}" alt="Article Image">
    </div>

    <div class="text-container">
        <div class="article-text">
            <p>{{ content|safe }}</p>
        </div>
    </div>
</section>

{% endblock %}
