@font-face {
    font-family: 'Akira Expanded';
    src: url('{{ url_for('static', filename='fonts/Akira-Expanded-Demo.woff') }}') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Akira Expanded', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Transparent Header Section */
.article-header {
    background-color: transparent; /* Set background to transparent */
    color: white; /* Darker text for readability */
    text-align: center;
    padding: 40px 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for contrast */
}

.article-header h1 {
    font-size: 4rem; /* Reduced font size for smaller title */
    font-weight: 600;
    margin: 0;
}

/* Article Section */
.article-content {
    max-width: 960px;
    margin: 30px auto;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out;
}

.article-content:hover {
    transform: translateY(-10px);
}

.image-container {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 12px;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease-in-out, opacity 0.3s ease;
}

.image-container img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.text-container {
    font-size: 1.1em;
    color: #555;
    line-height: 1.8;
    text-align: justify;
    padding-bottom: 20px;
}

.text-container p {
    margin-bottom: 20px;
}

/* Links Styling */
a {
    color: #3e8e41;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
