/* Base Styles */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 10px;
}

.banner h1{
    font-size: 400px;
}

h1 {
    text-align: center;
    color: #00B953;
    font-size: 400px;
}

.form-control {
    background: #00B953;
    color: white;
}

.select-container {
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
}

#car1-select,
#car2-select {
    font-size: 20px;
    width: 48%;
}

.car-comparison {
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 20px;
    flex-wrap: wrap;
}

.car-details {
    width: 45%;
    font-size: 20px;
    padding: 15px;
    text-align: center;
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 650px;
    color: #00B953;
    margin-bottom: 20px;
}

.car-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

select {
    margin-bottom: 20px;
}

.option-text {
    font-weight: bold;
    color: #007bff;
}

.button-container {
    text-align: center;
    margin: 20px 0;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .select-container {
        margin: 0 10%;
    }

    #car1-select,
    #car2-select {
        font-size: 18px;
        width: 48%;
    }
}

@media (max-width: 768px) {
    .select-container {
        flex-direction: column;
        align-items: center;
    }

    #car1-select,
    #car2-select {
        width: 90%;
        margin-bottom: 10px;
    }

    .car-comparison {
        flex-direction: column;
    }

    .car-details {
        width: 90%;
        height: auto;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .form-control {
        font-size: 14px;
    }

    #car1-select,
    #car2-select {
        font-size: 16px;
    }

    .button-container {
        margin: 15px 0;
    }
}

/* Banner Section */
.banner {
    background-image: url('/static/images/comp.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay with opacity */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-overlay h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}