body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    background-image: url('/static/images/bck.jpg');
}



.container {
    padding: 20px;
    height: 700px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    background-color: #00B953;
    border: 0px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
}

.product-card h2 {
    font-size: 18px;
}

.product-card p {
    font-size: 16px;
    color: white;
}

.product-card button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #555;
}
