.main-section, .main-section-odd {
    position: relative; /* Ensure the pseudo-element positions relative to this container */
    background-color: #A7A7A7;
    padding: 50px 20px;
    text-align: left;
    background-size: cover;
    background-position: center;
    color: #fff; /* Ensure text is readable on dark overlay */
    z-index: 1; /* Content remains above the overlay */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover animation */
}

.main-section:hover, .main-section-odd:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.main-section button, .main-section-odd button {
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-left: 45px;
    transition: transform 0.3s ease; /* Smooth hover animation */
}

.main-section button:hover, .main-section-odd button:hover {
    transform: translateY(-2px);
}

/* Overlay pseudo-elements */
.main-section::before, .main-section-odd::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: -1; /* Place behind the content */
}
