{% extends "navFooterBase.html" %}

{% block title %}EV HUB Landing{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cars.css') }}">

<div class="container">
    <h1 class="text-center my-4">Compare Electric Cars</h1>
    <div class="row d-flex justify-content-between mb-4">
        <div class="select-container">
    <select id="car1-select" class="form-control">
        <option value="" class="option-text">Select First Car</option>
        {% for car in cars %}
            <option value="{{ car.id }}">{{ car.name }}</option>
        {% endfor %}
    </select>

    <select id="car2-select" class="form-control">
        <option value="" class="option-text">Select Second Car</option>
        {% for car in cars %}
            <option value="{{ car.id }}">{{ car.name }}</option>
        {% endfor %}
    </select>
</div>
    </div>

    <div class="car-comparison">
        <div id="car1-details" class="car-details"></div>
        <div id="car2-details" class="car-details"></div>
    </div>
</div>

<script>
    const cars = {{ cars|tojson }};

    function displayCarDetails(carId, elementId) {
        const car = cars.find(car => car.id === parseInt(carId));
        const container = document.getElementById(elementId);

        if (car) {
            container.innerHTML = `
                <h3>${car.name}</h3>
                <img src="${car.image_url}" alt="${car.name}" class="car-image">
                <p><strong>Producător:</strong> ${car.manufacturer}</p>
                <p><strong>Capacitate baterie:</strong> ${car.battery_capacity} kWh</p>
                <p><strong>Autonomie:</strong> ${car.range_km} km</p>
                <p><strong>Viteza maximă:</strong> ${car.top_speed} km/h</p>
                <p><strong>Preț mediu:</strong> €${car.price}</p>
            `;
        } else {
            container.innerHTML = `<p>Please select a car to view details.</p>`;
        }
    }

    document.getElementById('car1-select').addEventListener('change', (event) => {
        displayCarDetails(event.target.value, 'car1-details');
    });

    document.getElementById('car2-select').addEventListener('change', (event) => {
        displayCarDetails(event.target.value, 'car2-details');
    });
</script>
{% endblock %}
