{% extends 'navFooterBase.html' %}
{% block title %}Electric charge{% endblock %}


    {% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/market.css') }}">

    <header class="header">
        <div class="banner">
            <h1>GĂSEȘTE <span>PIESE</span></h1>
        </div>
    </header>

    <!-- Promotional Banner Section -->


    <section class="search-bar">
        <a href="{{ url_for('market') }}"><h2>CAUTĂ PIESE</h2></a>
    <form class="search-container" action="{{ url_for('search') }}" method="get">
        <input
            type="text"
            name="query"
            placeholder="Caută piesele aici..."
            value="{{ query|default('') }}">
        <button class="search-button" type="submit">🔍</button>
    </form>
</section>


    <section class="product-grid">
    {% if products %}
        {% for product in products %}
        <div class="product-card">
            <img src="{{ product.image_url }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p>{{ product.price }} RON</p>
            <a href="{{ product.product_url }}" class="view-link">Verifica stoc</a>
        </div>
        {% endfor %}
    {% else %}
        <p class="no-results">Niciun produs găsit pentru produsul: "{{ query }}", intra pe site-ul partenerilor, <a href="https://amprevolt.com" target="_blank">amprevolt.com</a>
        pentru o cautare mai detaliată.</p>
    {% endif %}
</section>

<section class="promo-banner">
        <p>Piese recomandate de la partenerii noștri <a href="https://amprevolt.com" target="_blank">amprevolt.com</a>, intra pe site-ul lor de pe linkurile noastre și vei avea 15% reducere extra la checkout.</p>
    </section>
{% endblock %}