{% extends 'navFooterBase.html' %}
{% block title %}Electric charge{% endblock %}


    {% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/stiri.css') }}">
    <header>
        <h1 class="titlu-main">TEHNOLOGII NOI</h1>
    </header>

    <section class="articles">
        <div class="article" style="background-image: url('static/images/nwsHyundai.jpg');">
            <div class="overlay">
                <p>Ce aduce nou Hyundai?</p>
                <a href="{{ url_for('hyumdaiArticle') }}"><button>Vezi Articol</button></a>
            </div>
        </div>
        <div class="article" style="background-image: url('static/images/viitor.jpg');">
            <div class="overlay">
                <p>Cum ar putea arata viitorul masinilor EV?</p>
                <a href="{{ url_for('viitorEvArticle') }}"><button>Vezi Articol</button></a>
            </div>
        </div>
        <div class="article" style="background-image: url('static/images/india.jpg');">
            <div class="overlay">
                <p>Cele mai durabile masini cu range electric in India .</p>
                <a href="{{ url_for('indiaArticle') }}"><button>Vezi Articol</button></a>
            </div>
        </div>
        <div class="article" style="background-image: url('static/images/cyber.jpg');">
            <div class="overlay">
                <p>Cand vom vedea noul Cybertruck pe strazile din Romania?</p>
                <a href="{{ url_for('cybertruckArticle') }}"><button>Vezi Articol</button></a>
            </div>
        </div>
    </section>
<!-- New Section Header -->
<header>
    <h1 class="titlu-main">ULTIMELE REGLEMENTĂRI</h1>
</header>

<!-- Second Section -->
<section class="articles">
    <div class="article" style="background-image: url('static/images/2025.jpg');">
        <div class="overlay">
            <p>Ce ar trebui șoferii de EV să aibă în vedere în 2025?</p>
            <button>Vezi Articol</button>
        </div>
    </div>
    <div class="article" style="background-image: url('static/images/2030.jpg');">
        <div class="overlay">
            <p>Cum va arăta anul 2030 pentru șoferii de EV?</p>
            <button>Vezi Articol</button>
        </div>
    </div>
</section>
    {% endblock %}
